h2 {
    margin: 0px;
}

.form-top {
    border-top: solid 1px;
}


ul {
    margin-left: 0px;
    padding-left: 0px;
}

pre {
    margin: 0px;
}

.width-50 {
    width: 50px;
}

ul li ul {
    list-style: none;
    margin-left: 10px;
}

h4 {
    background-color: black;
    color: #ffffff;
    margin: 0px;
    padding: 2px 0px;
}

input[type='radio'] {
    -webkit-appearance: checkbox;
}