/* You can add global styles to this file, and also import other style files */

fnm-reader {
    display: block;
}

.help-mail {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #cacaca;
    padding: 2px 3px;
    border-radius: 3px;
}

.text-center {
    text-align: center;
}

.value {
    background-color: #f3f31896;
}

input[type="text"] {
    display: flex;
    border: none;
    flex: 1 1 auto;
    /* background-color: #f8f877; */
    color: #1900fa;
    font-style: italic;
}

input:active,
input:focus {
    background-color: #77edf8;
}

label {
    display: flex;
    flex-wrap: wrap;
    /* flex: 1 1 auto; */
}

input[type="checkbox"]:checked+label {
    /* background-color: #f8f877; */
    color: #1900fa;
    font-style: italic;
}

input[type="checkbox"]:hover+label
/* input[type="checkbox"]+label:hover */

{
    background-color: #77edf8;
    font-style: italic;
}

input[type="text"]:hover {
    background-color: #77edf8;
}

input#fileInput {
    /* border: 1px solid black; */
    content: "";
    /* opacity: 0; */
    width: 0px;
    margin: 0px auto;
}

input#fileInput:before {
    content: "Browse";
    opacity: 1;
    width: 100px;
    border: 1px solid black;
    position: relative;
    background-color: azure;
    border-radius: 3px;
    padding: 5px;
    display: block;
    text-align: center;
    cursor: pointer;
}

input#fileInput:active,
input#fileInput:focus {
    border: 0px;
    outline: -webkit-focus-ring-color auto 5px;
    outline-color: #fff;
    outline-style: auto;
    outline-width: 5px;
}

input#fileInput:focus:before {
    /* border: 0px; */
    outline: -webkit-focus-ring-color auto 5px;
    outline-color: #ffebcd;
    outline-style: auto;
    outline-width: 5px;
}

.fixed-ele {
    position: fixed;
}

.on-scroll .fixed-ele:hover {
    opacity: 1;
}

.on-scroll .fixed-ele {
    opacity: 0.5;
}

.border-left {
    border-left: solid 1px #000;
}

.border-right {
    border-right: solid 1px #000;
}

.border-top {
    border-top: solid 1px #000;
}

.border-bottom {
    border-bottom: solid 1px #000;
}

.flex {
    display: flex;
}

.flex-width {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}


.flex-full {
    flex: 1 1 auto;
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
}

.flex {
    display: flex;
    flex: 1 1 auto;
}

.flex .column,
.column {
    flex-direction: column;
    display: flex;
}

.min-width-50p {
    min-width: 50%;
}

.strike-out {}

.strike-out label {
    text-decoration: line-through;
}
.strike-out input[type="text"]:hover {
    color: #1900fa;
}
.strike-out input,
.strike-out input[type='checkbox'],
.strike-out .value {
    /* background-color: #bfbfbf; */
    cursor: not-allowed;
    /* color: #dededecf; */
    text-decoration: line-through;
}

.width-60p {
    width: 60%;
    flex: 60%;
}

.width-40p {
    width: 40%;
    flex: 40%;
}

.width-30p {
    width: 30%;
    flex: 30%;
}

.min-width-30p {
    width: 30%;
}

.min-width-20p {
    width: 20%;
}

.min-width-10p {
    width: 10%;
}

.min-height-60 {
    min-height: 60px;
}

.width-100 {
    width: 100px;
}

.width-10p {
    width: 10%;
    flex: 10%;
}

.italic {
    font-style: italic;
}

.flex-width-50 {
    flex: 1 1 50%;
    max-width: 50%;
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.sub-title {
    /* flex row italic */
    font-style: italic;
    display: flex;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 8px;
}
.width-20{
    width: 20px;
}